/* General Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  z-index: 1000;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.headerLogo img {
  height: 60px;
  width: auto;
  cursor: pointer;
}

/* Navigation Menu */
.headerNav {
  display: flex;
  align-items: center;
}

.headerNav a {
  color: #333333;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease;
}

.headerNav a:hover {
  color: #9a324f;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburgerLine {
  width: 100%;
  height: 2px;
  background-color: #9a324f;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.open .hamburgerLine:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.open .hamburgerLine:nth-child(2) {
  opacity: 0;
}

.hamburger.open .hamburgerLine:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .headerNav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: rgba(255, 241, 243, 0.95);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(15px);
    flex-direction: column;
    padding: 80px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 2000;
    overflow: hidden;
  }

  .headerNav.open {
    right: 0;
  }

  .headerNav a {
    margin: 15px 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }

  /* Hide navigation on mobile when not open */
  .headerNav:not(.open) {
    display: none;
  }

  /* Ensure the hamburger icon is above the menu */
  .hamburger {
    z-index: 2100;
  }
}
